<%- include("header") -%>
  <div class="add">
    <div class="genre">
      <table>
        <tr>
          <th>Genre Name</th>
          <th>Genre Id</th>
        </tr>
        <% for(var i=0; i<gdata.length; i++){ %>
          <tr>
            <td>
              <%= gdata[i].genre_name %>
            </td>
            <td>
              <%= gdata[i].genre_id %>
            </td>
          </tr>
          <% } %>
      </table>
    </div>
    <div class="formDiv">
      <section>
        <div class="form-box">
          <div class="form-value">
            <form action="" method="POST">
              <div class="inputbox">
                <ion-icon name="videocam-outline"></ion-icon>
                <input type="text" id="mname" name="mname" placeholder="Movie Name">
              </div>
              <div class="inputbox">
                <ion-icon name="funnel-outline"></ion-icon>
                <input type="number" id="genre" name="genre" placeholder="Genre ">
              </div>
              <div class="inputbox">
                <ion-icon name="flag-outline"></ion-icon>
                <input type="number" id="country" name="country" placeholder="Country ">
              </div>
              <div class="inputbox">
                <ion-icon name="language-outline"></ion-icon>
                <input type="number" id="language" name="language" placeholder="Language ">
              </div>
              <div class="inputbox">

                <input type="date" id="release" name="release" placeholder="Release Year">
              </div>
              <div class="inputbox">
                <ion-icon name="star-half-outline"></ion-icon>
                <input type="text" id="rating" name="rating" placeholder="Rating ">
              </div>
              <button type="submit">Add</button>
            </form>
          </div>
        </div>
      </section>
      <div class="note">
        <h4>Note</h4>
        <p>While entering details about any movie please refer it's respective language_id, country_id and genre_id.</p>
      </div>
    </div>
    <div class="language">
      <table>
        <tr>
          <th>Language Name</th>
          <th>Language Id</th>
        </tr>
        <% for(var i=0; i<ldata.length; i++){ %>
          <tr>
            <td>
              <%= ldata[i].language_name %>
            </td>
            <td>
              <%=ldata[i].language_id %>
            </td>
          </tr>
          <% } %>
      </table>
      <br>
      <table>
        <tr>
          <th>Country Name</th>
          <th>Country Id</th>
        </tr>
        <% for(var i=0; i<cdata.length; i++){ %>
          <tr>
            <td>
              <%= cdata[i].country_name %>
            </td>
            <td>
              <%=cdata[i].country_id %>
            </td>
          </tr>
          <% } %>
      </table>
    </div>
  </div>